<%- include('../partials/head', {title: 'Home'}) %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/allProducts.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="productos">
            <div class="seccion-ofertas">
                <section class = "contenedor-ofertas">
                    <% for (i=0; i< productos.length; i++) { %>
                        <article class = "cuadro-oferta">
                            <% if (productos[i].has_promotion == true) { %>
                                <i class="fas fa-exclamation-circle"></i>
                            <% } %>
                            <div class = "cuadro-oferta-imagenes">
                                <a href="/products/<%=productos[i].id%>">
                                    <img src="/img/productos/<%= productos[i].img %>" alt="<%= productos[i].title %>">
                                </a>
                            </div>
                            <div class = "cuadro-oferta-texto">
                                <!--<i class="fas fa-cart-plus"></i>-->
                                <div class="precio-descuento">
                                    <% if ((productos[i].has_discount == true) && (productos[i].discount != 0)) { %>
                                        <p class = "precio">$<%= productos[i].price * (1 - productos[i].discount /100) %></p>
                                        <p class = "descuento"><%= productos[i].discount%>% OFF</p>
                                    <% } else { %>
                                        <p class = "precio">$<%= productos[i].price %></p>
                                    <%} %>
                                </div>
                                <p class="nombre-producto"><%= productos[i].title %></p>
                            </div>
                        </article>
                    <% } %>
                </section>
            </div>
        </div> <!--fin productos-->
    </main>
    <%- include('../partials/footer') %>
</body>
</html>