<%- include('../partials/head', {title: 'Editar'}) %>
<link rel="stylesheet" href="/css/products-edit.css">
<title>Crear Producto</title>
</head>
<body>
<%- include('../partials/header') %>
<main>
    <div class="producto-crear"> 
        <div class="producto-detail">
            <h3 class="titulo-register">
                Editar Producto: 
                <span> <%= productos.titulo%></span>
            </h3>
            <div class="info-register">
                <form action="/products/<%= productos.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <span>Nombre del producto:</span> 
                    <br>
                    <% if(locals.errors && errors.titulo) { %>
                        <p class= "errores"> <%= errors.titulo.msg %> </p>
                    <% } %> 
                    <input type="text" name= "titulo" class="nombre-producto" value="<%= productos.titulo %>">
                    <br>
                    <span>Descripcion del producto:</span>
                    <br>
                    <% if(locals.errors && errors.descripcion) { %>
                        <p class= "errores"> <%= errors.descripcion.msg %> </p>
                    <% } %> 
                    <input type="text" name= "descripcion" class="descripcion-producto" value="<%= productos.descripcion %>"> 
                    <br>
                    <span>Marca: </span>
                    <br>
                    <% if(locals.errors && errors.marca) { %>
                        <p class= "errores"> <%= errors.marca.msg %> </p>
                    <% } %> 
                    <input type="text" name="marca" class="marca-producto" value="<%= productos.marca %>">
                    <br>
                    <span>Modelo: </span>
                    <br>
                    <% if(locals.errors && errors.modelo) { %>
                        <p class= "errores"> <%= errors.modelo.msg %> </p>
                    <% } %> 
                    <input type="text" name="modelo" class="modelo-producto" value="<%= productos.modelo %>">                                                  
                    <br>
                    <div class="foto-producto">
                        <label for="file-upload" class="custom-file"><i class="fa fa-cloud-upload"></i> Ingrese la foto del producto</label>
                        <% if(locals.errors && errors.img) { %>
                            <p class= "errores"> <%= errors.img.msg %> </p>
                        <% } %> 
                        <input type="file" name="img">
                    </div>
                    </div class="categoria">
                        <span>Seleccione la categoria del producto:</span>
                        <br>
                        <% if(locals.errors && errors.tipo) { %>
                            <p class= "errores"> <%= errors.tipo.msg %> </p>
                        <% } %> 
                        <div class="div-radio">
                        <input type="radio" id="Motherboard" name="tipo" value="Motherboard" <% if (productos.tipo == 'Motherboard') { %> 
                            checked
                            <% } %> >
                        <label for="Motherboard">Motherboard</label>
                        <br>
                        <input type="radio" id="Procesador" name="tipo" value="Procesador" <% if (productos.tipo == 'Procesador') { %> 
                            checked
                            <% } %> >
                        <label for="Procesador">Procesador</label>
                        <br>
                        <input type="radio" id="GPU" name="tipo" value="GPU" <% if (productos.tipo == 'GPU') { %> 
                            checked
                            <% } %> >
                        <label for="GPU">GPU</label>
                        <br> 
                        <input type="radio" id="RAM" name="tipo" value="RAM" <% if (productos.tipo == 'RAM') { %> 
                            checked
                            <% } %> >
                        <label for="RAM">RAM</label>
                        <br>
                    </div>
                    <br>
                    <div class="descuento-promo">
                        <span>Aplicar promocion: </span>
                        <% if(locals.errors && errors.enPromocion) { %>
                            <p class= "errores"> <%= errors.enPromocion.msg %> </p>
                        <% } %> 
                        <select name="enPromocion" id="enPromocion">
                            <option value="1"<% if(productos.enPromocion==true){%>
                                selected
                                <%}%>>Si</option>
                            <option value="0"<% if(productos.enPromocion==false){%>
                                selected
                                <%}%>>No</option>
                        </select>
                        <br>
                        <span>Porcentaje (%) de descuento</span>
                        <% if(locals.errors && errors.descuento) { %>
                            <p class= "errores"> <%= errors.descuento.msg %> </p>
                        <% } %> 
                        <input type="text" name="descuento" class="descuento" value="<%=productos.descuento%>">
                    </div>
                    <div class="precio">
                        <span>Precio del producto:</span>
                        <br>
                        <% if(locals.errors && errors.precio) { %>
                            <p class= "errores"> <%= errors.precio.msg %> </p>
                        <% } %> 
                        <div class="moneda-precio">
                            <select name="moneda" id="moneda">
                                <option value="USD"<% if(productos.moneda=="USD"){%>
                                    selected
                                    <%}%>>USD</option>
                                <option value="ARS"<% if(productos.moneda=="ARS"){%>
                                    selected
                                    <%}%>>ARS</option>
                            </select>
                            <input type="number" name="precio" class="precio-producto"value="<%=productos.precio %>">
                        </div> 
                    </div>
                    <div class="boton-agregar-div"> 
                        <button type="submit" class="boton-agregar">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>
</body>
</html>