<%- include('../partials/head', {title: 'Editar'}) %>
<link rel="stylesheet" href="/css/products-edit.css">
<script src="/js/products.js"></script>
<title>Crear Producto</title>
</head>
<body>
<%- include('../partials/header') %>
<main>
    <div class="producto-crear"> 
        <div class="producto-detail">
            <h3 class="titulo-register">
                <span name="h3">Editar Producto: <%= productos.title %></span>
            </h3>
            <div class="info-register">

                <form action="/products/<%= productos.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario">
                    <div class="user-input">
                        <span>Nombre del producto:</span> 
                        <br>
                        <input type="text" name= "title" class="input-producto" value="<%= productos.title %>">
                        <br>
                        <% if(locals.errors && errors.title) { %>
                            <p class= "errores"> <%= errors.title.msg %> </p>
                        <% } %>
                    </div>
                    <div class="user-input">
                        <span>Descripcion del producto:</span>
                        <br>
                        <textarea class="input-producto" rows= "10" cols="50" name= "description"><%= productos.description %></textarea>
                        <% if(locals.errors && errors.description) { %>
                            <p class= "errores"> <%= errors.description.msg %> </p>
                        <% } %> 
                        <br>
                    </div>
                    <div class="user-input">
                        <span>Modelo: </span>
                        <br>
                        <input type="text" name="model" class="input-producto" value="<%= productos.model %>">                                                  
                        <% if(locals.errors && errors.model) { %>
                            <p class= "errores"> <%= errors.model.msg %> </p>
                        <% } %> 
                        <br>
                    </div>
                    <div class="user-input">
                        <div class="caja">
                            <span>Imagen:</span>
                            <input class="img" type="file" name= "img">    
                        </div>
                    </div>
                    <div class="user-input">
                        <div class="categoria">
                            <span>Seleccione la categoria del producto:</span>
                            <% if(locals.errors && errors.product_type) { %>
                                <p class= "errores"> <%= errors.product_type.msg %> </p>
                            <% } %> 
                            <div class="div-radio">
                            <input type="radio" id="Motherboard" name="product_type" value="Motherboard" <% if (productos.product_type == 'Motherboard') { %> 
                                checked
                                <% } %> >
                            <label for="Motherboard">Motherboard</label>
                            <br>
                            <input type="radio" id="Procesador" name="product_type" value="Procesador" <% if (productos.product_type == 'Procesador') { %> 
                                checked
                                <% } %> >
                            <label for="Procesador">Procesador</label>
                            <br>
                            <input type="radio" id="Placas de Video" name="product_type" value="Placas de Video" <% if (productos.product_type == 'Placas de Video') { %> 
                                checked
                                <% } %> >
                            <label for="Placas de Video">Placas de Video</label>
                            <br> 
                            <input type="radio" id="Memorias RAM" name="product_type" value="Memorias RAM" <% if (productos.product_type == 'Memorias RAM') { %> 
                                checked
                                <% } %> >
                            <label for="Memorias RAM">Memorias RAM</label>
                            <br>
                            <input type="radio" id="Almacenamiento" name="product_type" value="Almacenamiento" <% if (productos.product_type == 'Almacenamiento') { %> 
                                checked
                                <% } %> >
                            <label for="Almacenamiento">Almacenamiento</label>
                            <br>
                            <input type="radio" id="Otros" name="product_type" value="Otros" <% if (productos.product_type == 'Otros') { %> 
                                checked
                                <% } %> >
                            <label for="Otros">Otros</label>
                            <br>
                        </div>
                        <br>
                    </div>
                    <div class="discount-promo">
                        <div class="user-input">
                            <span>Aplicar promocion: </span>
                            <% if(locals.errors && errors.has_discount) { %>
                                <p class= "errores"> <%= errors.has_discount.msg %> </p>
                            <% } %> 
                            <select name="has_discount" id="has_discount">
                                <option value="1"<% if(productos.has_discount==true){%>
                                    selected
                                    <%}%>>Si</option>
                                <option value="0"<% if(productos.has_discount==false){%>
                                    selected
                                    <%}%>>No</option>
                            </select>
                            <br>
                        </div>
                        <div class="user-input">
                        <span>Porcentaje (%) de descuento</span>
                            <input type="text" name="discount" class="discount" value="<%=productos.discount%>">
                            <% if(locals.errors && errors.discount) { %>
                                <p class= "errores"> <%= errors.discount.msg %> </p>
                            <% } %> 
                        </div>
                    </div>
                    <div class="user-input">
                        <div class="precio">
                            <span>Precio del producto:</span>
                            <br>
                            <div class="moneda-precio">
                                <select name="currency" id="moneda">
                                    <option value="USD"<% if(productos.currency=="USD"){%>
                                        selected
                                        <%}%>>USD
                                    </option>
                                        <option value="ARS"<% if(productos.currency=="ARS"){%>
                                            selected
                                            <%}%>>ARS
                                        </option>
                                </select>
                                <input type="number" name="price" class="precio-producto"value="<%=productos.price %>">
                                <% if(locals.errors && errors.price) { %>
                                    <p class= "errores"> <%= errors.price.msg %> </p>
                                <% } %> 
                            </div> 
                        </div>
                    </div>
                    <div class="boton-agregar-div"> 
                        <button type="submit" class="boton-agregar">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>
<script src="/js/products.js"></script>
</body>
</html>