    <%- include('../partials/head', {title: productos.title}) %>
    <link rel="stylesheet" href="/css/product-detail.css">
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="productDetail">
            <div class="detail-img">
                <img src="/img/productos/<%= productos.img %>" alt="<%= productos.title%>">
            </div>        
            <div class="detail-datos">
                <h3 class="titulo">
                    <%= productos.title %>
                </h3>
                    <% if (productos.has_discount) { %>
                        <div class="precio">
                            <div>
                                <span class="aplica-descuento">$ <%=  productos.price%></span>
                                <span class="descuento"><%= productos.discount%>% OFF</span>
                            </div>
                            <span>$ <%= productos.price - (productos.price / productos.discount)%></span>
                        </div>
                    <% } else { %>    
                        <div class="precio">
                            <span>$ <%=  productos.price%></span>
                        </div>
                    <% } %>
                <div class="descripcion">
                    <%= productos.description %>
                </div>
                <form action="/" class="cantidad">
                    <label for="cantidad-productos">Cantidad: </label>
                    <select name="cantidad-productos">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="boton">
                        <button type="submit">Agregar al carrito</button>
                    </div>
                </form>
                <div class="edit-delete">
                    <form action="/products/edit/<%= productos.id %>" method="GET" >
                        <button type="submit" class="action-button-edit">EDITAR PRODUCTO</button>
                    </form>
                    <form action="/products/<%= productos.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="action-button-delete">ELIMINAR</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>