    <%- include('../partials/head', {title: productos.titulo}) %>
    <link rel="stylesheet" href="/css/product-detail.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="productDetail">
            <div class="detail-img">
                <img src="/img/productos/<%= productos.img %>" alt="<%= productos.titulo %>">
            </div>        
            <div class="detail-datos">
                <h3 class="titulo">
                    <%= productos.titulo %>
                </h3>
                <div class="descripcion">
                    <%= productos.descripcion %>
                </div>
                <div class="precio">
                    <%=  productos.precio %>
                </div>
                <div class="descuento">
                    -- Extras o descuento --
                </div>
                <form action="/" class="cantidad">
                    <label for="cantidad-productos">Cantidad: </label>
                    <select name="cantidad-productos" id="cantidad-productos">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="boton">
                        <button type="submit">Agregar al carrito</button>
                    </div>
                </form>
                <div class="edit-delete">
                    <form action="/products/edit/<%= productos.id %>" method="GET" >
                        <button type="submit" class="action-button-edit">EDITAR PRODUCTO</button>
                    </form>
                    <form action="/products/<%= productos.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="action-button-delete">ELIMINAR</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>