<%- include('./partials/head', {title: 'Home'}) %>
<link rel="stylesheet" href="/css/index.css"> 
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class = "home-banner">
            <img src="/img/banner.jpg" alt="home-banner">
        </div>
        <div class="productos">
            <div class="seccion-ofertas">
                <div>
                    <h3 class = "titulo-ofertas">Productos con descuento</h3>
                </div>
                <section class = "contenedor-ofertas">
                    <% for (i=0; i< productos.length; i++) { %>
                        <% if ((productos[i].enPromocion) && (productos[i].descuento != 0)) { %>
                                <article class = "cuadro-oferta">
                                    <div class = "cuadro-oferta-imagenes">
                                        <a href="/products/<%=productos[i].id%>">
                                            <img src="/img/productos/<%= productos[i].img %>" alt="<%= productos[i].titulo %>">
                                        </a>
                                    </div>
                                    <div class = "cuadro-oferta-texto">
                                        <i class="fas fa-cart-plus"></i>
                                        <div class="precio-descuento">
                                            <p class = "precio">$<%= productos[i].precio %></p>
                                            <span class = "descuento"><%= productos[i].descuento%>% OFF</span>
                                        </div>
                                        <a href="/products/<%=productos[i].id%>" class="nombre-producto"><%= productos[i].titulo %></a>
                                    </div>
                                </article>
                        <% } %>
                    <% } %>
                </section>
            </div>
            <div class="seccion-intereses">
                <div>
                    <h3 class = "titulo-ofertas">Basado en tus intereses</h3>
                </div>
                <section class = "contenedor-ofertas">
                    <% for (i=0; i< productos.length; i++) { %>
                        <article class = "cuadro-oferta">
                            <div class = "cuadro-oferta-imagenes">
                                <a href="/products/<%=productos[i].id%>">
                                    <img src="/img/productos/<%= productos[i].img %>" alt="<%= productos[i].titulo %>">
                                </a>
                            </div>
                            <div class = "cuadro-oferta-texto">
                                <i class="fas fa-cart-plus"></i>
                                <div class="precio-descuento">
                                    <p class = "precio">$ <%= productos[i].precio %></p>
                                    <% if ((productos[i].enPromocion) && (productos[i].descuento != 0)){ %>
                                        <span class = "descuento"><%= productos[i].descuento%>% OFF</span>
                                    <% } %>
                                </div>
                                <a href="/products/<%=productos[i].id%>" class="nombre-producto"><%= productos[i].titulo %></a>
                            </div>
                        </article>
                    <% } %>
                </section>
            </div>
        </div> <!--fin productos-->
        <div class="promociones">
            <div class="email">
                <div class="email-texto">
                    <h2>Registrese con su email para recibir novedades de nuestra tienda!</h2>
                    <span>
                        Nunca se perdera de ofertas exclusivas para clientes registrados.
                    </span>
                    <div class="email-inputs">
                        <input type="email" placeholder="Ingrese su email" name="subscribe-email" class="barra-email">
                        <button>Enviar</button>
                        <!-- 
                            1. AGREGAR CODIGO PARA GUARDAR EL MAIL EN UNA DB DE GENTE SUSCRITA
                            2. DIRECTO A REGISTER CON EL MAIL YA COMPLETADO
                        -->
                    </div>
                </div>
                <img src="/img/bg_subscribe_box.png" alt="">
            </div> 
            <div class="apps">
                <div class="titulo">
                    <h2>Descarga nuestra app</h2>
                </div>
                <div class="app-img">
                    <div class="app-stores">
                        <a href="https://www.apple.com/la/app-store/"><img src="/img/app-img/appStore.png" alt=""></a>
                        <a href="https://play.google.com/store?hl=es_AR&gl=US"><img src="/img/app-img/playStore.png" alt=""></a>
                    </div>
                    <div class="app-bg">
                        <img src="/img/app-img/bg_our_app.png" alt="">
                    </div>
                </div> 
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>