<%- include('../partials/head', {title: 'Login'}) %>  
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Inicio de Sesion</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login-register-user"> 
            <div class="detail-cuenta">
                <h3 class="titulo-cuenta">
                    Iniciar sesion
                </h3> 
                    <div class="info-usuario"> 
                        <div>
                            <ul id="area-errores" style="list-style: none;">
                                <li name="fullName" id="fullName" style="color: red;"></li>
                                <li name="email" id="email" style="color: red;"></li>
                                <li name="password" id="password" style="color: red;"></li>
                                <li name="avatar" id="avatar" style="color: red;"></li>
                            </ul>
                        </div>
                        <form action="/user/login" id="formulario" method="post">

                            <div class="user-input" id="label-email" >
                                <label for="email" style="display: flex; align-items: center; padding-top: 0;">Ingrese su Email: </label>
                                <input class="datos" type="email" name="email" id="email" placeholder="E-mail"> 
                                <% if(locals.errors && errors.email) { %>
                                    <p class="errores"> <%= errors.email.msg %> </p>
                                <% } %>     
                            </div>
                            <br>
                            <!-- <p style="color: red;"> <%= typeof errors != 'undefined' && errors.email ? errors.email.msg : null %> </p> -->
                            <div class="user-input" id="label-password"> 
                                <label for="email">Ingrese su contrase単a: </label>
                                <input class="datos" type="password" name="password" id="password" placeholder="Contrase単a">
                                <% if(locals.errors && errors.password) { %>
                                    <p class="errores"> <%= errors.password.msg %> </p>
                                <% } %>  
                            </div>
                            <br>
                            <!-- <p style="color: red;"> <%= typeof errors != 'undefined' && errors.password ? errors.password.msg : null %> </p><br> -->

                            <div class="caja-checkbox">
                                <span>Recordar usuario</span>
                                <input type= "checkbox" name="recordarme" value="recordarme">
                                <br> <br>
                            </div>

                            <div class="button-user">
                                <input class="boton" type="submit" value= "Ingresar"> 
                            </div>
                            <div class="opcioncontra">
                                <a href="">多Olvidaste tu contrase単a?</a>
                                <a href="/user/register" class="crear-cuenta">Crear cuenta</a>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </main>
    <script src="/js/login.js"></script>
    <%- include('../partials/footer') %>  
</body>
</html>