<%- include('../partials/head', {title: 'Login'}) %>  
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Inicio de Sesion</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login-register-user"> 
            <div class="detail-cuenta">
                <h3 class="titulo-cuenta">
                    Ya soy cliente
                </h3> 
                    <div class="info-usuario"> 
                        <form action="/user/login" method="post">

                            <input class="datos" type="email" name="email" placeholder="Ingrese su E-mail"> 
                            <p style="color: red;"> <%= typeof errors != 'undefined' && errors.email ? errors.email.msg : null %> </p>
                            <input class="datos" type="password" name="password" placeholder="Ingrese su Contraseña">
                            <p style="color: red;"> <%= typeof errors != 'undefined' && errors.password ? errors.password.msg : null %> </p><br>

                            
                            <div class="caja-checkbox">
                                <span>Recordar usuario</span>
                                <input type= "checkbox" name="recordarme" value="recordarme">
                                <br> <br>
                            </div>
                            <div class="button-user">
                                <input class="boton" type="submit" value= "Ingresar"> 
                            </div>
                            <div class="opcioncontra">
                                <a href="">¿Olvidaste tu contraseña?</a>
                                <a href="/user/register" class="crear-cuenta">Crear cuenta</a>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>  
</body>
</html>