 <%- include('../partials/head', {title: 'Register'}) %>
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Registrarse</title>
</head>
<body>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="login-register-user"> 
                <div class="detail-cuenta">
                    <h3 class="titulo-cuenta">
                        Crear cuenta
                    </h3>
                    <div class="info-usuario">
                        <form action="/user/register" method="POST" enctype="multipart/form-data">

                            <label for="user">Ingrese su usuario: </label>
                            <input class="datos <%= locals.errors && errors.user ? "con-error": null %>" type="text" name= "user" placeholder="Usuario" value="<%= locals.oldData ? oldData.user: null %>">    
                            <% if(locals.errors && errors.user) { %>
                                <p class="errores"> <%= errors.user.msg %> </p>
                            <% } %>                    
                            
                            <label for="">Ingrese su nombre y apellido: </label>
                            <input class="datos <%= locals.errors && errors.fullName ? "con-error": null %>" type="text" name= "fullName" placeholder="Nombre y apellido" value="<%= locals.oldData ? oldData.fullName: null %>">
                            <% if(locals.errors && errors.fullName) { %>
                                <p class="errores"> <%= errors.fullName.msg %> </p>
                            <% } %>     
                            
                            
                            <label>Seleccione su genero: </label> <br>
                            <% const opcionesGenero = ['M','F','X'] %> 
                            <% const generoKeys = ["Hombre","Mujer","Otro"] %> 
                            <div class="opciones-genero">
                                <% for(let i = 0; i < generoKeys.length; i++) {%>
                                    <label><%=generoKeys[i]%>
                                        <input
                                            type="radio"
                                            name= "gender"
                                            value="<%=opcionesGenero[i] %>"
                                            <%= locals.oldData && (oldData.gender == opcionesGenero[i]) ? 'checked': null %>
                                        >
                                    </label>
                                    
                                <%} %> 
                                
                            </div>
                            <% if(locals.errors && errors.gender) { %>
                                <p class="errores"> <%= errors.gender.msg %> </p>
                            <% } %>     
                        
                            <label>Ingrese su email: </label>
                            <input class="datos <%= locals.errors && errors.email ? "con-error": null %>" type="email" name= "email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email: null %>">
                            <% if(locals.errors && errors.email) { %>
                                <p class="errores"> <%= errors.email.msg %> </p>
                            <% } %>     

                            <!--
                                --------Confirmar email a travez de validaciones-----------
                                <input class="datos" type="email" name= "email" placeholder="Confirmar E-mail">
                            -->

                            <label>Ingrese su contraseña: </label>
                            <input class="datos <%= locals.errors && errors.pass ? "con-error": null %>" type="password" name="pass" placeholder="Contraseña">
                            <% if(locals.errors && errors.pass) { %>
                                <p class="errores"> <%= errors.pass.msg %> </p>
                            <% } %>     
                            
                            <label>Ingrese una foto de perfil: </label> 
                            <input class="avatar" type="file" name="avatar">

                            <div class="button-user">
                                <input class="boton" type="submit" value= "Registrar">
                            </div>

                        </form>
                    </div>
                   
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
        
    
        

</body>
</html>