 <%- include('../partials/head', {title: 'Register'}) %>
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Registrarse</title>
    <script src="/js/register.js"></script>
</head>
<body>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="login-register-user"> 
                <div class="detail-cuenta">
                    <h3 class="titulo-cuenta">
                        Crear cuenta
                    </h3>
                    <div class="info-usuario">
                        <div>
                            <ul id="area-errores" style="list-style: none;">
                                <li name="fullName" id="fullName" style="color: red;"></li>
                                <li name="email" id="email" style="color: red;"></li>
                                <li name="password" id="password" style="color: red;"></li>
                                <li name="avatar" id="avatar" style="color: red;"></li>
                            </ul>
                        </div>
                        <form id="formulario" action="/user/register" method="POST" enctype="multipart/form-data">
                            <div class="user-input">
                                <label for="userName">Ingrese su usuario: </label>
                                <input class="datos <%= locals.errors && errors.userName ? "con-error": null %>" type="text" name= "userName" placeholder="Usuario" value="<%= locals.oldData ? oldData.userName: null %>">    
                                <% if(locals.errors && errors.userName) { %>
                                    <p class="errores"> <%= errors.userName.msg %> </p>
                                <% } %>
                            </div>                    
                            <div class="user-input">
                                <label for="">Ingrese su nombre y apellido: </label>
                                <input class="datos <%= locals.errors && errors.fullName ? "con-error": null %>" type="text" name= "fullName" placeholder="Nombre y apellido" value="<%= locals.oldData ? oldData.fullName: null %>">
                                <% if(locals.errors && errors.fullName) { %>
                                    <p class="errores"> <%= errors.fullName.msg %> </p>
                                <% } %>     
                            </div>

                            <div class="user-input">
                                <label>Seleccione su genero: </label> <br>
                                <% const generoKeys = ["Hombre","Mujer","Otro"] %> 
                                <div class="opciones-genero">
                                    <% for(let i = 0; i < generoKeys.length; i++) {%>
                                        <label><%=generoKeys[i]%>
                                            <input
                                                
                                                type="radio"
                                                name= "gender"
                                                value="<%=generoKeys[i] %>"
                                                <%= locals.oldData && (oldData.gender == generoKeys[i]) ? 'checked': null %>
                                            >
                                        </label>
                                    <%} %> 
                                </div>
                                <% if(locals.errors && errors.gender) { %>
                                    <p class="errores"> <%= errors.gender.msg %> </p>
                                <% } %>     
                            </div>
                            
                            <div class="user-input">
                                <label>Ingrese su email: </label>
                                <input class="datos <%= locals.errors && errors.email ? "con-error": null %>" type="email" name= "email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email: null %>">
                                <% if(locals.errors && errors.email) { %>
                                    <p class="errores"> <%= errors.email.msg %> </p>
                                <% } %>     
                            </div>
                            <!--
                                --------Confirmar email a travez de validaciones-----------
                                <input class="datos" type="email" name= "email" placeholder="Confirmar E-mail">
                            -->
                            <div class="user-input">
                                <label>Ingrese su contraseña: </label>
                                <input class="datos <%= locals.errors && errors.password ? "con-error": null %>" type="password" name="password" placeholder="Contraseña">
                                <% if(locals.errors && errors.password) { %>
                                    <p class="errores"> <%= errors.password.msg %> </p>
                                <% } %>     
                            </div>

                            <div class="user-input">
                                <label>Ingrese una foto de perfil: </label> 
                                <div class="avatar-container">
                                    <div class="file-search"></div>
                                    <input class="avatar" type="file" name="avatar"> 
                                </div>
                                <% if(locals.errors && errors.avatar) { %>
                                    <p class="errores"> <%= errors.avatar.msg %> </p>
                                <% } %>  
                            </div>
                            <div class = "caja-de-errores">
                                <ul class = "area-errores" id="area-errores">
                                    <li name="fullName" id="fullName"></li>
                                    <li name="email" id="email"></li>
                                    <li name="password" id="password"></li>
                                    <li name="avatar" id="avatar"></li>
                                </ul>
                            </div>
                            <div class="button-user">
                                <input class="boton" type="submit" value= "registrar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
        
    
        

</body>
</html>